*.pyc
clients/sequencescripts/
servers/Pulser/hardwareConfiguration.py
LabRAD.ini
clients/testparse.py
clients/testasycro.py
clients/settings.ini
clients/New Text Document.txt
clients/OLDparsingworker.py
clients/helpfile.txt
clients/lol.txt
clients/settings.ini.backup
clients/testparse.py.lprof
